body {
    font-family: sans-serif; /* 글꼴 설정 */
    margin: 0; /* body 기본 margin 제거 */
    padding: 0; /* body 기본 padding 제거 */
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff); /* 배경색 설정 */
    color: #333; /* 기본 글자색 설정 */
}

header {
    background-color: #333; /* 헤더 배경색 */
    color: #fff; /* 헤더 글자색 */
    padding: 1rem 0; /* 헤더 padding */
}

nav ul {
    list-style: none; /* 목록 스타일 제거 */
    margin: 0; /* ul 기본 margin 제거 */
    padding: 0; /* ul 기본 padding 제거 */
    display: flex; /* 가로 정렬 */
    justify-content: center; /* 가운데 정렬 */
}

nav li {
    margin: 0 1rem; /* 각 메뉴 항목 간 간격 */
}

nav a {
    color: #fff; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    padding: 0.5rem 1rem; /* 링크 padding */
    transition: background-color 0.3s; /* 호버 효과를 위한 transition */
}

nav a:hover {
    background-color: #555; /* 호버 시 배경색 변경 */
}

.logout-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* 드롭다운 메뉴 텍스트 왼쪽 정렬 */
}

.dropdown-content a:hover {background-color: #555;}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    min-width: 60vw; /* viewport width의 100% */
    min-height: 100vh; /* viewport height의 100% */
    padding: 2rem; /* main padding */
    margin: 20px auto; /* 가운데 정렬 및 상하 여백 */
    max-width: 960px; /* 최대 너비 설정 */
    background-color: white; /* main 배경색 */
    box-shadow: 0 0 30px rgba(0, 0, 0, .2); /* 그림자 효과 */
    border-radius: 10px; /* 모서리 둥글게 */
}

footer {
    background-color: #333; /* 푸터 배경색 */
    color: #fff; /* 푸터 글자색 */
    text-align: center; /* 가운데 정렬 */
    padding: 1rem 0; /* 푸터 padding */
    position: relative; /* 푸터 위치 설정 */
    bottom: 0; /* 푸터를 아래쪽에 고정 */
    width: 100%; /* 푸터 너비 100% */
}

/* 추가 스타일 (선택 사항) */
h1, h2, h3 {
    color: #333; /* 제목 글자색 */
}

a {
    color: #007bff; /* 링크 기본 색상 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* 링크 호버 시 밑줄 */
}

/* 반응형 디자인 (선택 사항) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* 세로 정렬 */
        text-align: center; /* 가운데 정렬 */
    }

    nav li {
        margin: 0.5rem 0; /* 간격 조정 */
    }
    main {
        padding: 1rem; /* main padding 줄이기 */
    }
}