<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}coB2n{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <!-- 공통 헤더 -->
    <header>
        <nav>
            <ul>
                <li><a href="/">COB2N</a></li>
                <li>
                <div class="dropdown">
                <a>게시판</a>
                    <div class="dropdown-content">
                      <a href="/blog/">자유게시판</a>
                      <a href="#">정보게시판</a>
                      <a href="#">투표게시판</a>
                    </div>
                  </div>
                </li> 
                <li><a href="/contact/">excute</a></li>
                <li><a href="/profile/">프로필</a></li>
                <li>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">{{ user.username }}(로그아웃)</button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}">로그인</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <!-- 페이지별 내용 -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- 공통 푸터 -->
    <footer>
        <p>&copy; 2025 coB2n. All rights reserved.</p>
    </footer>
</body>
</html>
