<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}
    <div class="container">
        <div class="form-box login">
            <form method="post" action="{% url 'login' %}"> {% csrf_token %}
                <h1>로그인</h1>
                <div class="input-box">
                    <input type="text" placeholder="username" name="username" id="username" required >
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password" name="password" id="password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="forgot-link">
                    <a href="#">비밀번호룰 모르시겠다고요?</a>
                </div>
                <button type="submit" class="btn">로그인</button>
                <p>다른 방법으로 로그인</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google' ></i></a>
                    <a href="#"><i class='bx bxl-facebook' ></i></a>
                    <a href="#"><i class='bx bxl-github' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <form method="post" action="{% url 'signup' %}"> {% csrf_token %}
                <h1>회원가입</h1>
                <div class="input-box">
                    <input type="text" placeholder="username" required name="username" id="username"
                    value="{{ form.username.value|default_if_none:'' }}">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="email" required name="email" id="email"
                    value="{{ form.email.value|default_if_none:'' }}">
                    <i class='bx bxs-envelope' ></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password" required name="password1" id="password1"
                    value="{{ form.password1.value|default_if_none:'' }}">
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password2" required name="password2" id="password2"
                    value="{{ form.password2.value|default_if_none:'' }}">
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <button type="submit" class="btn">완료</button>
                <p>다른 방법으로 회원가입</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google' ></i></a>
                    <a href="#"><i class='bx bxl-facebook' ></i></a>
                    <a href="#"><i class='bx bxl-github' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>COB2N</h1>
                <p>아이디가 없다면?</p>
                <button class="btn register-btn">회원가입</button>
            </div>

            <div class="toggle-panel toggle-right">
                <h1>COB2N</h1>
                <p>아이디가 이미 있다면?</p>
                <button class="btn login-btn">로그인</button>
            </div>
        </div>
    </div>

    <script src="{%static 'js/login.js' %}"></script>
</body>
</html>